.container {
	display: grid;
	grid-template-areas:
		"header header"
		"search-bar search-bar"
		"search-results playlist"
		"footer footer";
	grid-template-columns: 6fr 5fr;
	grid-template-rows: 1fr 2fr 15fr 1fr;
	background-image: url("../../assets/istockphoto-1371586496-612x612.jpg");
	background-color: #cccccc;
	background-position: center;
	background-size: cover;
}

.container > div {
	background-color: rgba(111, 155, 222, 0.8);
}

.container > div.header {
	grid-area: header;
	text-align: center;
	background-color: #002a60;
	color: aliceblue;
}

.m {
	color: #0062e2;
}

.container > div.search-bar {
	grid-area: search-bar;
}

.container > div.search-results {
	grid-area: search-results;
}

.container > div.playlist {
	grid-area: playlist;
}

.container > div.footer {
	grid-area: footer;
	text-align: center;
	background-color: #002a60;
	color: #ffffff;
}

/* track styles */
ul {
	list-style-type: none;
	background-color: #014195ca;
	border-radius: 20px;
	border: 1px solid #00295e;
	filter: drop-shadow(5px 5px 5px #000);
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
}

.box-title {
	font-size: 25px;
	font-weight: 600;
	color: aliceblue;
	text-align: center;
}

.track-item {
	margin: 1em;
	margin-right: 3em;
	padding-bottom: 1em;
	border-bottom: 1px solid aliceblue;
	display: flex;
	justify-content: space-between;
}

.track-name {
	font-size: 17px;
	font-weight: 600;
	color: aliceblue;
}

.track-info {
	font-size: 10px;
	font-weight: 200;
	color: aliceblue;
}

.empty {
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	color: aliceblue;
	margin-top: 2em;
	margin-bottom: 2em;
}
