.container {
	display: grid;
	grid-template-areas:
		"header header"
		"search-bar search-bar"
		"search-results playlist"
		"footer footer";
	grid-template-columns: 6fr 5fr;
	grid-template-rows: 1fr 2fr 8fr 1fr;
	background-image: url("../../assets/istockphoto-1371586496-612x612.jpg");
	background-color: #cccccc;
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100vh;
}

.container > div {
	background-color: rgba(111, 155, 222, 0.8);
	/* padding: 10px; */
}

.container > div.header {
	grid-area: header;
	text-align: center;
	background-color: #2c80ff;
}

.container > div.search-bar {
	grid-area: search-bar;
	text-align: center;
	background-color: rgba(58, 127, 255, 0.659);
}

.container > div.search-results {
	grid-area: search-results;
	text-align: center;
	background-color: rgba(58, 127, 255, 0.659);
}

.container > div.playlist {
	grid-area: playlist;
	text-align: center;
	background-color: rgba(58, 127, 255, 0.659);
}

.container > div.footer {
	grid-area: footer;
	text-align: center;
	background-color: #2c80ff;
}
