.search-bar-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 2em;
}

.search-bar-container input {
	width: 20%;
	height: 4em;
	border-radius: 10px;
	border: 1px solid #00295e;
	filter: drop-shadow(5px 5px 5px #000);
	padding-left: 1em;
	margin-top: 2em;
	background-color: aliceblue;
}

.search-bar-container button {
	width: 10em;
	height: 2.5em;
	color: aliceblue;
	font-size: 15px;
	background-color: #014195ca;
	border-radius: 20px;
	border: 1px solid #014195ca;
	filter: drop-shadow(5px 5px 5px #000);
	padding-left: 1em;
	margin-top: 2em;
}

.search-bar-container button:hover {
	cursor: pointer;
	background-color: #003a85ca;
	color: rgba(240, 248, 255, 0.745);
}

.search-bar-container button:active {
	background-color: #002d67ca;
	color: rgba(240, 248, 255, 0.745);
	filter: drop-shadow(2px 2px 2px #000);
}
