.playlist {
	text-align: left;
}

.minus {
	background: none;
	color: aliceblue;
	border: none;
	padding: 0 1em;
	font: inherit;
	outline: inherit;
	border-radius: 10px;
}

.minus:hover {
	cursor: pointer;
	color: #f0f8ff7d;
}
